.navbarBody{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 20px 0px;
    margin: 0;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 3;
}

.navbarBody a{
    text-decoration: none;
    font-family: Mont;
    cursor: pointer;
}

.navText{
    color: #9B9BA7;
    transition: 0.12s ease-out;
    border-bottom: 1px solid transparent;
}

.navbarBody .navText:hover{
    color: #fff;
    border-bottom: 1px solid #ef0141;
}

.navIcon{
    color: #9B9BA7;
    transition: 0.12s ease-out;
    cursor: pointer;
    width: 25px;
}

.navIcon:hover{
    color: #fff;
}

.navbarBody img{
    width: 40px;
}

.navTabs, .socialIcons{
    display: flex;
    align-items: center;
    gap: 40px;
}

.normalNavbar{
    display: flex;
    gap: 100px;
}

.navbarSideMenu, .sideMenuContainer{
    display: none;
}

.hamburgerIcon{
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

@media screen and (max-width: 750px) {

    .navbarBody{
        justify-content: space-between;
        background: #000;
    }

    .normalNavbar{
        display: none;
    }

    .navbarLogo{
        padding-left: 30px;
    }

    .navbarSideMenu{
        display: block;
        padding-right: 30px;
    }

    .sideMenuContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: absolute;
        left: 0px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        background: #000;
        padding: 100px 0px;
        padding-bottom: 200px;
        height: 65vh;
        animation: fadeIn 0.25s ease-out;
    }

    .navTabs{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 30px;
        border-bottom: #9B9BA7 solid 1px;
    }

    .socialIcons{
        display: flex;
        gap: 40px;
    }

    .navIcon{
        width: 30px;
    }

    .navTabs:focus > .navbarSideMenu{
        display: none;
    }

    .noScroll{
        animation: fadeOut 0.25s ease-out;
    }
}

@media screen and (max-width: 430px) {
    .navbarBody img {
        width: 35px;
    }
}