@font-face {
  font-family: Mont;
  src: url('./fonts/mont-13.ttf');
}

@font-face {
  font-family: Biotif;
  src: url('./fonts/Circular/CircularStd-Book.otf');
}

html{
  background-color: #fff;
  overflow-x: hidden;
}

body{
  background: #000; 
  overflow-x: hidden;
  overflow-y: hidden;
}